<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Banterbird | {{ title }}</title>
    <script src="/static/js/app.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Major+Mono+Display&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img class="logo" src="{{ url_for('static', filename='images/banterbird-bird-512x512.png') }}" alt="Banterbird Logo">
        <h1 class="title">Banterbird</h1>
        <nav>
            <a href="/">Home</a>
            <span>|</span>
            <a href="/about">About</a>
            <span>|</span>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>
