{% extends "base.html" %}
{% block content %}

    <div id="login-form">
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input id="username" name="username" placeholder="Enter Username" type="text" required/>

            <label for="password">Password:</label>
            <input id="password" name="password" placeholder="Password" type="password" required/>

            <button type="submit">Login</button>
            
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
        </form>
    </div>
{% endblock %}